.card-list {
  padding: 40px;
  list-style: none;
  background-color: #d3d3d3;
}

.card__item {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 800px;
  border: 2px solid #000;

  background-color: cadetblue;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.card__box {
  display: flex;
  align-items: center;
}

.card__img {
  border-radius: 50%;
}
